*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background: #f2f4ff;
    font-family: Jost,sans-serif!important;
}
.foro{
    width: 90%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;

}

/* Aside */

.side-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.feed-board{
    height: 150px;
    width: 250px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 15px;
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.titles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}
.tags{
    height: auto;
    width: 250px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
}
.tags ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    justify-content: center;
}

.tags ul .tag{
    padding: 5px 15px ;
    text-align: center;
    background: #f2f4ff;
    border-radius: 10px;
    line-height: 30px;
}

.roadmap{
    height: 150px;
    width: 250px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
}
.roadmap-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.roadmap-title a{
    color: rgb(35, 106, 212);
}
.roadmap ul{
    margin: 20px 0 0 0;
}
.road-item{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0 ;
}
.left-side{
    display: flex;
    align-items: center;
    gap:3px
}
.point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: chartreuse;
    
}

/* Foro */

.foro-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.chang-sugg{
    background: #373f68;
    color: #fff;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.sugg{
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-add{
    padding: 10px 20px;
    background: rgb(163, 28, 163);
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.foro-card{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}
.card-imp{
    display: flex;
    gap: 40px;
    align-items: center;
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content-tag{
    background: #f2f4ff;
    padding: 5px 10px;
    text-align: center;
    width: min-content;
    border-radius: 5px;
}

.number{
    padding: 10px;
    background: #f2f4ff;
    border-radius: 5px;
    text-align: center;
}